<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Home</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h2>Welcome to Startup Finance!</h2>-->
<!--        <a th:href="@{/}">Home-Page</a>-->
<!--        <h1 th:text="${message}">Mesaj de fallback</h1>-->
<!--    <p>Choose your role:</p>-->
<!--    <a th:href="@{/investor}">Investor</a>-->
<!--    <br>-->
<!--    <a th:href="@{/startup}">Startup</a>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagina de start</title>
</head>
<body>
<h1 th:text="${message}">Mesaj de fallback</h1>
</body>
</html>